.slide(data-name="abans_html5")
  div
    h3 Abans d'HTML5

    table.small
      tr.step
        th.
          HTML 4.01 Strict
        td.code
          code='<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"'
          code='"http://www.w3.org/TR/html4/strict.dtd">'

      tr.step
        th.
          HTML 4.01 Transitional
        td.code
          code='<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"'
          code='"http://www.w3.org/TR/html4/loose.dtd">'

      tr.step
        th.
          HTML 4.01 Frameset
        td.code
          code='<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"'
          code='"http://www.w3.org/TR/html4/frameset.dtd">'

      tr.step
        th.
          XHTML 1.0 Strict (quick reference)
        td.code
          code='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"'
          code='"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'

      tr.step
        th.
          XHTML 1.0 Transitional
        td.code
          code='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"'
          code='"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">'


      tr.step
        th.
          XHTML 1.0 Frameset
        td.code
          code='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"'
          code='"http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">'

      tr.step
        th.
          XHTML 1.1
        td.code
          code='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" '
          code='"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">'

      tr.step
        th.
          XHTML Basic 1.1
        td.code
          code='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"'
          code='"http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">'



    p.credits https://www.w3.org/QA/2002/04/valid-dtd-list.html




//- vim: set ft=jade:
