
.slide(data-name="form_selectors_0")
  div
    h3 Selectors de Pseudo-Classe
    h2 per a Formularis

    div.center

      div.bigfont
        p.
          Sel·leccionen específicament característiques de camps de formularis:
        table
          tr
            td
              code='<input>'
            td
              code='<textarea>'
            td
              code='<button>'
          tr
            td
              code='<select>'
            td(colspan=2)
              code='<option>'
              span (segons el cas...)

      table
        tr
          th.lateral.bigfont
            b Avís:
          td.
            Alguns d'ells han estat introduïts o redefinits recentment pel que
            no funcionaran com s'espera en alguns navegadors.
        tr
          th(colspan=2)
            span Haurem de consultar cadascun a
            span.link http://caniuse.com
            span per a saber exactament
            br
            span com estan de suportats als distints navegadors.


.slide(data-name="form_selectors_1")
  div
    h3 Selectors de Pseudo-Classe
    h2 per a Formularis (I)

    table
      tr
        th.lateral
          code=':disabled'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code=':disabled'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code=':enabled'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code=':checked'
        td.
          — Bla bla bla...


.slide(data-name="form_selectors_2")
  div
    h3 Selectors de Pseudo-Classe
    h2 per a Formularis (II)

    table
      tr
        th.lateral
          code=':invalid'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code=':valid'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code=':required'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code=':optional'
        td.
          — Bla bla bla...


//- vim: set ft=jade:

