
.slide.bigfont(data-name="pseudoclass_selectors_0")
  div
    header.step.title
      h3 Selectors de Pseudo-Classe
      h4 (Pseudo-Class Selectors)

    ul
      li.step.
        Els selectors de pseudo-classe s'utilitzen per seleccionar elements en
        funció de si presenten o no un estat concret.
      li.step.
        Aquest estat pot ser en relació a la seva posició en relació al document
        o d'altres elements o debut a alguna interacció de l'usuari.
      li.step.
        Sempre comencen amb dos punts (:) i ténen la mateixa especificitat
        que els sel·lectors de classe (0,1,0).


.slide(data-name="pseudoclass_selectors_1")
  div
    h2 Selectors de Pseudo-Classe (I)

    table
      tr.step
        th.lateral
          code= ':first-child'
        td.
          Selecciona els elements que ocupen el primer lloc dins l'element que
          els conté.
      tr.step
        th.lateral
          code= ':last-child'
        td.
          Selecciona els elements que ocupen el darrer lloc dins el seu
          contenidor.
      tr.step
        th.lateral
          code= ':only-child'
        td.
          Selecciona els elements que estan sols a dins el seu contenidor.
      tr.step
        th.lateral
          code= ':nth-child(an+b)'
        td
          p.
            Selecciona elements en base a la seva posició respecte dels seus
            veins o "germans" (siblings) segons la fórmula (#[code.code="an+b"])
            especificada.
          p.
            Ón 'a' i 'b' son enters i la 'n' (literal) representa la variable
            que, substituïda per tots i cadascuns dels nombres enters,
            començant per 0, donaria la posició de tots els elements
            sel·leccionats per aquest selector.
      tr.step
        th.lateral
          code= ':nth-last-child(an+b)'
        td
          span.
            Idèntica a #[code.code=':nth-child()'], però comptant cap enrere des
            del darrer element.


.slide(data-name="pseudoclass_selectors_2")
  div
    h2 Selectors de Pseudo-Classe (II)

    table
      tr.step
        th.lateral
          code= ':first-of-type'
        td.
          Similar a #[code.code=':first-child'] però selecciona tots els
          elements que son el primer del seu tipus (nom de tag).
      tr.step
        th.lateral
          code= ':last-of-type'
        td.
          A l'enrevés que #[code.code=':first-of-type'] : selecciona tots els
          elements que son el darrer del seu tipus.
      tr.step
        th.lateral
          code= ':only-of-type'
        td.
          Selecciona els elements que son l'únic element del seu tipus dins el
          seu contenidor.
      tr.step
        th.lateral
          code= ':nth-of-type(an+b)'
        td.
          Similar a #[code.code=':nth-child'] però, per a cada element, compta
          les posicions tenint en compte només els elements del mateix tipus.
      tr.step
        th.lateral
          code= ':nth-last-of-type(an+b)'
        td.
          Igual que #[code.code=':nth-of-type(an+b)'], però comptant des del
          final.


.slide(data-name="pseudoclass_selectors_3")
  div
    h2 Selectors de Pseudo-Classe (III)

    table
      tr.step
        th.lateral.
          #[code=':not(']#[i selector]#[code=')']
        td.
          Selecciona els elements que NO compleixen les condicions del
          selector especificat entre parèntesis. El qual ha de ser simple
          (referit només al propi element: no es poden excloure ancestres ni
          tampoc contenir un altre selector de negació).
      tr.step
        th.lateral
          code= ':empty'
        td
          p.
            Selecciona els elements que estan COMPLETAMENT buïds. És a dir: que
            no contenen cap altre element ni text. INCLOSOS espaïs o salts de
            línia.
          p.
            Existeix la proposta d'un nou selector #[code.code.wrong=':blank']
            que sí permetés espaïs i salts de línia. Però de moment no el
            suporta cap navegador.

.slide(data-name="pseudoclass_selectors_4")
  div
    h2 Selectors de Pseudo-Classe (IV)

    table
      tr.step
        th.lateral
          code= ':focus'
        td.
          Selecciona elements que ténen el focus.
      tr.step
        th.lateral
          code= ':hover'
        td.
          Selecciona els elements sobre els quals es troba el ratolí.
      tr.step
        th.lateral
          code= ':root'
          td.
            Selecciona l'element arrel del document (el tag
            #[code.code='<html>'] pel cas de documents HTML. Però css també es
            pot utilitzar per altres tipus de documents #[i XML-like] com ara
            SVG...).


//- vim: set ft=jade:

