

.slide(data-name="pselement_selectors_0")
  div
    h2 Selectors de Pseudo-Element

    div.center
      ul
        li.step.
          Seleccionen elements ficticis que es en realitat no existeixen com a
          tals al document.

        li.step.
          Com les pseudoclasses van prefixats amb el caràcter 'dos punts',
          #[b però en aquest cas doble: (::)].

        li.step.
          #[b EXEMPLE:] #[code.code='::first-letter']

    table.step
      tr
        th.bigfont.lateral='⚠  Avís:'
        td
          p.
            Originalment van ser especificats amb només un caràcter ":" igual
            que les #[i Pseudo-Classes] i, per aquest motiu tots els
            navegadors les accepten així de moment.
          p.
            span Però nosaltres #[b="sempre"] escriurem, per exemple,
            #[code.code="::after"] i no #[code.code.wrong=":after"] donat que
            en qualsevol moment podrien deixar de fer-ho.

.slide(data-name="pselement_selectors_1")
  div
    h2 Selectors de Pseudo-Element (I)

    table
      tr.step
        th.lateral
          code= '::before'
          p=' i '
          code= '::after'
        td
          p.
            Creen un element "virtual" al principi o final, respectivament,
            #[b del contingut] de l'element al que es refereixen.
          p.
            És #[b imprescindible] especificar la propietat
            #[code.code content] donat que, en cas contrari, l'element no
            apareixerà.

      tr.step
        th.lateral
          code= '::first-letter'
        td.first-letter.
          Selecciona la primera lletra del contingut d'un element,
          permetent-nos aplicar-li estils específics com si tingués el seu
          propi element dins el DOM.
      tr.step
        th.lateral
          code= '::first-line'
        td.first-line.
          Semblant a #[code="::first-letter"], però sobre la primera línia de
          text sencera (independentment de que aquesta pugui estar o no
          composada de múltiples sub-elements)

      tr.step
        th.lateral
          code= '::selection'
        td.
          Selecciona la fracció de text ressaltada (seleccionada) per l'usuari
          amb el teclat o el ratolí.



//- vim: set ft=jade:
