
.slide(data-name="form_selectors_0")
  div
    h2 Selectors de Pseudo-Classe
    h3 per a Formularis

    div

      div.center
        div 
          p.
            Sel·leccionen específicament característiques de camps de formularis:
          table
            tr
              td.code.step.fade
                code='<input>'
              td.code.step.fade
                code='<textarea>'
              td.code.step.fade
                code='<button>'
            tr
              td.code.step.fade
                code='<select>'
              td.code.step.fade(colspan=2)
                code='<option>'
                span (segons el cas...)

      table
        tr.step
          th.lateral.bigfont
            b ⚠ Avís:
          td.
            Alguns d'ells han estat introduïts o redefinits recentment pel que
            no funcionaran com s'espera en alguns navegadors.
        tr.step
          th(colspan=2)
            span Haurem de consultar cadascun a
            span.link http://caniuse.com
            span per a saber exactament
            br
            span com estan de suportats als distints navegadors.


.slide(data-name="form_selectors_1")
  div
    h3 Selectors de Pseudo-Classe
    h2 per a Formularis (I)

    table
      tr.step
        th.lateral
          code=':empty'
        td.
          Selecciona camps el contingut dels quals és buïd.
      tr.step
        th.lateral
          code=':disabled'
        td.
          Selecciona camps deshabilitats.
      tr.step
        th.lateral
          code=':enabled'
        td.
          Selecciona camps habilitats (no deshabilitats).
      tr.step
        th.lateral
          code=':checked'
        td.
          Selecciona camps de tipus #[i checkbox] o #[i radio] que estiguin marcats.


.slide(data-name="form_selectors_2")
  div
    h3 Selectors de Pseudo-Classe
    h2 per a Formularis (II)

    table
      tr.step
        th.lateral
          code=':invalid'
        td.
          Selecciona camps el contingut dels quals no passa les regles de
          validació o, en el cas de tenir l'attribut de #[i required], també si
          estan buïds.
      tr.step
        th.lateral
          code=':valid'
        td.
          Selecciona camps el contingut dels quals compleix les regles de
          validació.
      tr.step
        th.lateral
          code=':required'
        td.
          Selecciona camps requerits (que ténen l'atribut "required"). 
      tr.step
        th.lateral
          code=':optional'
        td.
          Selecciona camps opcionals.


//- vim: set ft=jade:

