
.slide(data-name="pselement_selectors")
  div
    h2 Selectors de Pseudo-Element

    table
      tr
        th.lateral
          code= '::before'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code= '::after'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code= '::first-letter'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code= '::first-line'
        td.
          — Bla bla bla...
      tr
        th.lateral
          code= '::selection'
        td.
          — Bla bla bla...



//- vim: set ft=jade:
